.productlisttypes-view {

    .categories-list {
        display: flex;
        justify-content: left;
        margin-left: 70px;
        
    }
}

.non-active-food-menu {
    border: 2px solid #fff;
}

.active-food-menu {
    border: 2px solid #ffa500;
}