.productlisttypes-view {

    .categories-list {
        display: flex;
        justify-content: left;
        margin-left: 70px;

        .table {
            width: 30%;

            .buy-now {
                cursor: pointer;
                background: #1161ee;
                padding: 5px 15px;
                border-radius: 5px;
                font-size: 14px;
                margin: 30px;

                &:hover {
                    background: #598de6;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}

.non-active-food-menu {
    border: 2px solid #fff;
}

.active-food-menu {
    border: 2px solid #ffa500;
}