.eventinformations-view {
    .userinfo-panel {
        .login-header {
            display: flex;
            justify-content: center;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;

            .link {
                margin-left: 5px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        /* signup override css */
        .signup-wrap {
            padding: 0px;
            background: none;
            box-shadow: unset;
            margin-top: 10px;

            .signup-html {
                padding-top: 0px;
                background: none;

                .sign-up {
                    display: none;
                }

                .signup-form {
                    .group {
                        .label {
                            color: #000;
                        }

                        .input {
                            border: 2px solid #ffa500
                        }

                        .button {
                            width: auto;
                            float: right;
                        }

                        .error {
                            display: flex;
                            margin: 10px;
                            justify-content: center;
                            width: -webkit-fill-available;
                        }
                    }

                    .footer {
                        display: none;
                    }
                }
            }
        }

        .loggedin-panel {
            list-style: none;
            display: grid;
            justify-content: center;
            font-weight: bold;

            li {
                margin: 5px;
            }
        }
    }

    .summary-panel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .event-summary {
            padding-left: 2rem;
            font-size: 16px;
            font-weight: bold;
        }

        .event-info {
            list-style: none;
            padding: 20px;

            li {
                margin: 15px 0px;
            }

            label {
                font-size: 16px;
                font-weight: bold;
                font-style: italic;
                width: 140px;
                ;
            }

            /* .product-counter {
                display: flex;
                align-items: baseline;

                .counter-wrapper {
                    margin-left: 15px;
                }

                .counter-button {
                    height: 30px;
                    width: 40px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 2px solid #1161ee;
                    color: #1161ee;

                    &:hover {
                        background: #598de6;
                        color: #fff;
                        font-weight: bold;
                        border: 2px solid #fff;
                    }
                }

                .counter-label {
                    height: 30px;
                    width: 40px;
                    height: 30px;
                    width: 40px;
                    display: inline-flex;
                    justify-content: center;
                }
            } */

            .event-details-label {
                color: #ffa500;
                font-size: 16px;
            }

            .event-control {
                padding: 5px;
                cursor: pointer;
                border: 2px solid #ffa500;
                border-radius: 5px;
                font-size: 16px;
                line-height: 20px;
                width: 160px;
                margin-left: 10px;
            }

            .validation-error {
                width: auto;
            }
        }
    }

    .buy-now {
        cursor: pointer;
        background: #1161ee;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 16px;
        margin: 10px 0px 30px;
        float: right;

        &:hover {
            background: #598de6;
            color: #fff;
            font-weight: bold;
        }
    }
}