.signin-view {
    .login-panel {
        display: flex;
        justify-content: center;
        margin: 40px;

        .login-container {
            list-style: none;
            /* width: 380px; */

            li {
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;

                .input {
                    padding: 5px;
                    border: 2px solid #ffa500;
                    border-radius: 5px;
                }

                &.button-container {
                    justify-content: end;

                    .button {
                        border: none;
                        padding: 5px;
                        border-radius: 5px;
                        color: #000;
                        display: block;
                        font-weight: bold;
                        font-size: 16px;
                        font-family: 'Times New Roman', Times, serif;
                        cursor: pointer;
                        background: #1161ee;

                        &:hover {
                            background: #598de6;
                            color: #000;
                        }
                    }
                }

                .error-message {
                    display: flex;
                    margin: 10px;
                    justify-content: center;
                    width: -webkit-fill-available;
                }
            }
        }
    }
}